<div class="row">
    <div class="col-md-12">
        <h1>About</h1>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-3 text-center">
        <img src="https://s3-us-west-2.amazonaws.com/stevemassey.io.images/steve-photo-1.png" style="max-width: 200px; border: 1px solid #f2f2f2;">
    </div>
    <div class="col-md-9">
        <p>I'm a software developer specializing in web application development. I've been working in this field for ten years and am constantly looking to expand my skillset and knowledge base.</p>
        <p>My specialties include, but are not limited to:</p>
        <h4>Languages</h4>
        <ul>
            <li data-ng-repeat="language in languages">{{language}}</li>
        </ul>
        <h4>Technologies</h4>
        <ul>
            <li data-ng-repeat="technology in technologies">{{technology}}</li>
        </ul>
        <h4>Frameworks</h4>
        <ul>
            <li data-ng-repeat="framework in frameworks">{{framework}}</li>
        </ul>
        <br>
        <div class="btn-toolbar">
            <a class="btn btn-primary" href="https://s3-us-west-2.amazonaws.com/stevemassey.io.misc/smassey-resume-20151024.pdf" target="_blank">
                <i class="fa fa-file-pdf-o"></i> Resume (344KB)
            </a>
            <a class="btn btn-info" href="http://bit.ly/1M9ZrbP" target="_blank">
                <i class="fa fa-linkedin"></i> LinkedIn
            </a>
            <a class="btn btn-warning" href="http://bit.ly/1PNi1Mo" target="_blank">
                <i class="fa fa-github"></i> GitHub
            </a>
        </div>
    </div>
</div>